<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%-5p] %m%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
       <!--<File>/sfg_prd/sfg_files/data/deliveries/logs/delivery_sys.log</File>-->
<!--        <File>/Users/rchennupati/Documents/Personal/vodacom/logs/delivery_sys.log</File>-->
        <!--<File>${app.SFG_ENV}/{app.LOGBACK_FILE}</File>-->
        <encoder>
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%-5p] %m%n</pattern>
        </encoder>
    </appender>
    <!-- ALL INCLUSIVE PATTERN: [%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n  -->
    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "STDOUT"/>
    </root>
</configuration>
